{
  "extends": [
    "eslint-config-airbnb",
    "plugin:flowtype/recommended"
  ],
  "rules": {
    "semi": 0,
    "react/jsx-sort-props": ["off", {
      "ignoreCase": true,
      "callbacksLast": false,
      "shorthandFirst": false,
      "shorthandLast": false,
    }]
  },
  "plugins": [
    "flowtype"
  ]
}
