{
  "extends": [
    "eslint-config-airbnb",
    "plugin:flowtype/recommended"
  ],
  "rules": {
    "semi": 0,
    "react/jsx-sort-props": ["off", {
      "ignoreCase": true,
      "callbacksLast": false,
      "shorthandFirst": false,
      "shorthandLast": false,
    }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  },
  "plugins": [
    "flowtype"
  ],
  "globals": {
    "test": true,
    "it": true,
    "xtest": true,
    "describe": true,
    "xdescribe": true,
    "expect": true
  }
}
