html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #114c87;
  --text-color: rgb(49, 49, 49);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body * {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

.title {
  font-size: 34px;
}
