html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --masonry-purple: #58287f;
  --masonry-dark: #1a0000;
  --masonry-light: #f5edce;
  --masonry-blue: #89c4e1;

  --masonry-purple: #58287f;
  --masonry-text-color: var(--masonry-light);
  --masonry-background: var(--masonry-dark);
  --masonry-highlight: var(--masonry-blue);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body * {
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 18px;
}

body {
  color: var(--masonry-text-color);
  background: var(--masonry-background);
}

.title {
  font-size: 34px;
}
