@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: var(--masonry-font-family);
}

:root {
  --masonry-purple: #58287f;
  --masonry-dark: #1a0000;
  --masonry-light: #f5edce;
  --masonry-blue: #89c4e1;

  --masonry-purple: #58287f;
  --masonry-text-color: #fff;
  --masonry-background: var(--masonry-dark);
  --masonry-highlight: var(--masonry-blue);

  --masonry-font-family: 'Roboto', sans-serif;
  --masonry-title-font-family: 'Tilt Warp', sans-serif;
}

h1,
h2,
h3,
h4,
a {
  font-family: var(--masonry-title-font-family);
}

h1 {
  font-size: 46px;
}

p {
  font-size: 24px;
}

body {
  color: var(--masonry-text-color);
  background: var(--masonry-background);
}

h1 {
  margin-bottom: 20px;
}

header {
  display: flex;
  align-items: center;
  margin: 50px auto 50px;
}

a {
  color: var(--masonry-highlight);
  text-decoration: none;
}

a:visited {
  color: var(--masonry-highlight);
}

.title {
  font-size: 34px;
}

.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: auto;
}

.navigation-link {
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
}

.navigation-link[data-active='true'] {
  color: var(--primary-color);
  font-weight: 500;
}
